 
@import "tailwindcss";

:root {
 
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Универсальный стиль кнопки */
.btn, .btn-primary {
  @apply bg-gradient-to-b from-[#1E9FFF] to-[#006DFF] hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded-lg transition;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 